<link rel="stylesheet" href="./menu.component.css" media="only screen and (max-width: 700px)">
<div id="barramenu">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuOpciones" aria-controls="menuOpciones" aria-expanded="false" aria-label="Toggle Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="menuOpciones">
            <div class="navbar-nav">
                <a class="nav-item nav-link" routerLink="/RS/cargo" routerLinkActive="active">Cargo</a>
                <a class="nav-item nav-link" routerLink="/RS/empleado" routerLinkActive="active">Empleado</a>
                <a class="nav-item nav-link" routerLink="/RS/chofer" routerLinkActive="active">Chofer</a>
                <a class="nav-item nav-link" routerLink="/RS/vehiculo" routerLinkActive="active">Vehiculo</a>
                <a class="nav-item nav-link" routerLink="/RS/tarifario" routerLinkActive="active">Tarifario</a>

            </div>
        </div>
    </nav>
</div>
<br>