/* You can add global styles to this file, and also import other style files */
#cuerpo{
    background: url("https://i.pinimg.com/originals/6b/aa/6a/6baa6a796239202fac2c6c4831219b86.png");
    background-size: 120% 100%;
    background-attachment: fixed
}
@media only screen and (min-width : 0px) and (max-width : 670px) {
    #cuerpo{
        background: url("https://i.pinimg.com/originals/6b/aa/6a/6baa6a796239202fac2c6c4831219b86.png");
        background-size: 350% 100%;
        background-attachment: fixed
    }
}
